<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The portfolio of Joseph McCarey">
  <meta name="author" content="Joseph McCarey">

  <!------------------------------------------------------------
    Prevent the user from applying automatic darkmode features.
    Auto dark mode causes unintended styling. 
    If the user has autodark enabled, we detect it and
    automatically enable custom darkmode in the page module. -->
  <meta name="color-scheme" content="only light">

  <!-- Add a favicon -->
  <link rel="icon" href="../../static/media/favicon.gif" type="image/x-icon">

  <title>Projects -- Joseph McCarey</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- bootstrap js -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Font Awesome -->
  <link href="../../static/vendor/fontawesome/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/css/main.css" rel="stylesheet">

</head>

<body class="bg-light">

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mx-auto" id="navbar">
    <div class="container col-6 justify-content-center mx-auto">


      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">

          <li class="nav-brand mx-auto">
            <a class="nav-link text-center" role="button" onClick="toggleTheme()" id="themeSwitch">
              Dark Mode
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="{{url_for('static', filename='media/Joseph_McCarey_Resume(public).pdf')}}" target="_blank">Resume</a>
          </li>

          <li class="nav-brand">
            <a class="nav-link text-center" href="{{url_for('index')}}"><i class="fas fa-home nav-text"></i></a>
          </li>


          <li class="nav-item">
            <a class="nav-link active text-center" href="#" aria-current="page">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" href="{{url_for('contact')}}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <!-- A 2x2 grid of bootstrap cards -->
  <div class="container col-lg-6 col-md-12 col-sm-10 my-4 py-5">

    <!-- Pagination -->
    <nav class="col-4 mx-auto justify-content-center">
      <ul class="pagination justify-content-center">
        <li class="page-item mx-auto"><a class="page-link" href="{{url_for('projects', page=page-1)}}"
            aria-label="Previous"><i class="fa-solid fa-arrow-left"></i></a></li>
        <li class="page-item mx-auto">
          <form method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">
            <input type="number" class="form-control w-25" value="{{page}}" id="goPage" name="goPage"></input>
            <button class="btn btn-primary" role="button" type="submit">Go</button>
          </form>
        </li>
        <li class="page-item mx-auto"><a class="page-link" href="{{url_for('projects', page=page+1)}}"
            aria-label="Next"><i class="fa-solid fa-arrow-right"></i></a></li>
      </ul>
    </nav>

    <!-- Card deck -->
    <div class="card-deck">
      <!-- Row 1 -->
      <div class="row">
        <div class="card col-lg-5 col-md-6 col-sm-10 bg-light mx-auto border-secondary py-3 text-dark my-2" {{pageProjects[0]['visibility']}}>
          <img class="card-img-top" src="{{pageProjects[0]['image']}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{pageProjects[0]["name"]}}</h4>
            <p class="card-text">{{pageProjects[0]["description"]}}</p>
          </div>
          <div class="card-footer">
            <a href="{{pageProjects[0]['link']}}" class="btn btn-primary {{pageProjects[0]['linkVisibility']}}">Learn More</a>
          </div>
        </div>

        <div class="card col-lg-5 col-md-6 col-sm-10 bg-light mx-auto border-secondary py-3 text-dark my-2" {{pageProjects[1]['visibility']}}>
          <img class="card-img-top" src="{{pageProjects[1]['image']}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{pageProjects[1]["name"]}}</h4>
            <p class="card-text">{{pageProjects[1]["description"]}}</p>
          </div>
          <div class="card-footer">
            <a href="{{pageProjects[1]['link']}}" class="btn btn-primary {{pageProjects[1]['linkVisibility']}}">Learn More</a>
          </div>
        </div>
      </div>
      <!-- Row 2 -->
      <div class="row">
        <div class="card col-lg-5 col-md-6 col-sm-10 bg-light mx-auto border-secondary py-3 text-dark my-2" {{pageProjects[2]['visibility']}}>
          <img class="card-img-top" src="{{pageProjects[2]['image']}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{pageProjects[2]["name"]}}</h4>
            <p class="card-text">{{pageProjects[2]["description"]}}</p>
          </div>
          <div class="card-footer">
            <a href="{{pageProjects[2]['link']}}" class="btn btn-primary {{pageProjects[2]['linkVisibility']}}">Learn More</a>
          </div>
        </div>

        <div class="card col-lg-5 col-md-6 col-sm-10 bg-light mx-auto border-secondary py-3 text-dark my-2" {{pageProjects[3]['visibility']}}>
          <img class="card-img-top" src="{{pageProjects[3]['image']}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{pageProjects[3]["name"]}}</h4>
            <p class="card-text">{{pageProjects[3]["description"]}}</p>
          </div>
          <div class="card-footer">
            <a href="{{pageProjects[3]['link']}}" class="btn btn-primary {{pageProjects[3]['linkVisibility']}}">Learn More</a>
          </div>
        </div>
      </div>


    </div>

  </div>
  <!-- /card grid -->

  <!-- Custom JS for dynamic styling-->
  <script type="module">
    // Import the Page class
    import { Page } from '../../static/js/page.js';
    // Create a page object
    window.page = new Page();

    window.toggleTheme = function () {
      window.page.toggleTheme();
    }

    window.onload = function () {
      window.page.onLoad();
    }

    window.onresize = function () {
      window.page.onResize();
    }

    window.onbeforeunload = function () {
      window.page.onBeforeUnload();
    }
  </script>

</body>

</html>