<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The portfolio of Joseph McCarey">
  <meta name="author" content="Joseph McCarey">

  <!------------------------------------------------------------
    Prevent the user from applying automatic darkmode features.
    Auto dark mode causes unintended styling. 
    If the user has autodark enabled, we detect it and
    automatically enable custom darkmode in the page module. -->
  <meta name="color-scheme" content="only light">

  <!-- Add a favicon -->
  <link rel="icon" href="../../static/media/favicon.gif" type="image/x-icon">

  <title>Contact-- Joseph McCarey</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- bootstrap js -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Font Awesome -->
  <link href="../../static/vendor/fontawesome/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mx-auto" id="navbar">
    <div class="container col-6 justify-content-center mx-auto">


      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">

          <li class="nav-brand">
            <a class="nav-link" role="button" aria-pressed="true" onClick="window.toggleTheme()" id="themeSwitch">
              Dark Mode
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resume</a>
          </li>

          <li class="nav-brand">
            <a class="nav-link" href="{{url_for('index')}}"><i class="fas fa-home nav-text"></i></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <div class="container col-lg-6 textbody mt-5 pt-5 mb-5">
    <div class="row my-auto">
      <div class="container col-lg-6">
        <h1>Get in touch</h1>
        <p class="lead">I'm always looking for new opportunities and challenges. If you have a project you'd like to
          discuss, or just want to say hi, feel free to drop me a line.</p>
      </div>

      <!-- A basic contact form -->
      <form method="post" enctype="multipart/form-data" class="col-lg-6">
        <div class="form-group">
          <!-- Get user name -->
          <label for="name">Name *</label>
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Enter your name (required)" value="{{request.form['name']}}"
            maxlength="100" required aria-required>

          <!-- Email address -->
          <label for="email">Email address *</label>
          <input type="email" class="form-control mb-2" id="email" name="email"
            placeholder="Enter your email (required)" maxlength="100" value="{{request.form['email']}}" required aria-required>

          <!-- Callback number-->
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control mb-2" id="phone" name="phone" placeholder="Enter your phone number" value="{{request.form['phone']}}"
            maxlength="56" pattern=".?(\W{0,3}\d{1,5}\W?){3,6}.?">

          <!-- Note -->
          <label for="note">Note *</label>
          <textarea class="form-control mb-2" id="note" name="note" rows="3" placeholder="Enter your note (required)" value="{{request.form['note']}}"
            maxlength="2500" required aria-required></textarea>

          <!-- Error message display -->
          <div class="alert alert-danger d-none" id="errorAlert" role="alert">
            <p>{{confirmation}}</p>
          </div>

          <!-- Submit button
                    After submission, the button will be disabled and have a tooltip requesting 1 submission per session. 
                    Wrapping in a div so that the tip still shows then the button disables-->
          <span class="d-inline-block mt-3" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="You will only be able to submit once every few minutes." id="submitTooltip">
            <button type="submit" id="submit" name="submit" class="btn btn-primary" {{isDisabled}}>{{btnText}}</button>
          </span>

        </div>
      </form>
    </div>

    <div class="row mt-5 my-auto">
      <h1>Find me elsewhere</h1>
      <p class="lead">You can also find me on these platforms:</p>
    </div>

    <div class="row mt-1">
      <!-- Buttons for linkedin, github, instagram, email -->
      <div class="container col-lg-8 col-md-10 col-sm-12">
        <div class="d-flex flex-row justify-content-center">

          <a href="https://www.instagram.com/joeymccarey/" class="btn btn-ig btn-lg mx-auto vw-10 vh-10" role="button">
            <i class="fab fa-instagram fa-2x text-center mx-auto pr-1"></i></a>
          <a href="https://www.linkedin.com/in/joseph-mccarey/" class="btn btn-linkedin btn-lg mx-auto vw-10 vh-10"
            role="button">
            <i class="fab fa-linkedin-in fa-2x text-center mx-auto pr-1"></i></a>
          <a href="mailto:joey@mccarey.net" class="btn btn-mail btn-lg mx-auto vw-10 vh-10" role="button">
            <i class="fas fa-envelope fa-2x text-center mx-auto pr-1"></i></a>
          <a href="https://github.com/jmccarey" class="btn btn-github btn-lg mx-auto vw-10 vh-10" role="button">
            <i class="fab fa-github fa-2x text-center mx-auto pr-1"></i></a>


        </div>
      </div>
    </div>


  </div>

  <br>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 bg-dark fixed-bottom d-none d-lg-block">
    <div class="container">
      <p class="m-0 text-center text-white">Glued together by Joseph
        <a href="https://github.com/jmccarey">
          <i class="fab fa-github fa-1x" style="color:white"></i>
        </a>
      </p>
    </div>
  </footer>


  <!-- Custom JS for dynamic styling-->
  <script type="module">
    // Import the Page class
    import { Page } from '../../static/js/page.js';
    // Create a page object
    window.page = new Page();

    window.postForm = function (event) {
      window.page.postForm(event);
    }

    window.toggleTheme = function () {
      window.page.toggleTheme();
    }

    window.onload = function () {
      window.page.onLoad();
    }

    window.onresize = function () {
      window.page.onResize();
    }

    window.onbeforeunload = function () {
      window.page.onBeforeUnload();
    }

    this.tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        this.tooltipList = [...this.tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

  </script>


</body>

</html>